ul.backbone-vanilla-js-object, ul.vanilla-js-array, li.backbone-vanilla-js-property {
  list-style-type: none;
}

.backbone-vanilla-js-object, .backbone-vanilla-js-array, .backbone-vanilla-js-property {
  font-family: monospace;
  padding: 0;
  margin: 0;
}

.backbone-vanilla-js-object > .backbone-vanilla-js-property, .backbone-vanilla-js-array > .backbone-vanilla-js-property {
  margin-left: 1em;
}

/*ul.backbone-vanilla-js-array > li.backbone-vanilla-js-property {

}*/

/*li.backbone-vanilla-js-property:hover {
  background-color: #eee;
}*/

.backbone-vanilla-js-property:before {
  display: inline-block;
  content: '';
  width: 1em;
}

.backbone-vanilla-js-property.expandable>.property, .backbone-vanilla-js-property.expandable>.value {
  cursor: pointer;
}

.backbone-vanilla-js-property.expandable:before {
  content: '+';
}

.backbone-vanilla-js-property.expandable.expanded:before {
  content: '-';
}

.backbone-vanilla-js-property:not(:last-child):after {
  display: inline;
  content: ',';
}

.backbone-vanilla-js-property > .property {
  color: rgb(136, 19, 145);
}

.backbone-vanilla-js-property > .property:after {
  color: black;
  content: ': ';
}

.backbone-vanilla-js-property > .value-string {
  color: #E6DB74;
}

.backbone-vanilla-js-property > .value-string:before {
  content: open-quote;
}

.backbone-vanilla-js-property > .value-string:after {
  content: close-quote;
}

.backbone-vanilla-js-property > .value-number {
  color: rgb(28, 0, 207);
}

.backbone-vanilla-js-object:before {
  content: '{';
}

.backbone-vanilla-js-object:after {
  content: '}';
}

.backbone-vanilla-js-array:before {
  content: '[';
}

.backbone-vanilla-js-array:after {
  content: ']';
}